@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is an application meant to assist with the managing of courses, students, and grades for both MCFT administrators and instructors.</p>

<p>The MCFT academics system was designed by students at NBCC as a class project.</p>