@page
@model MCFTAcademics.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>
<p>You are changing the password for <var>@ViewData["ChangePassword_TargetDescription"]</var>.</p>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="TargetUserId" />
    @if (ViewData["ChangePassword_TargetUser"] != null)
    {
    @if ((bool)ViewData["ChangePassword_IsSelf"])
    {
    <div class="form-group">
        <label for="oldPasswordInput">Current Password</label>
        <input id="oldPasswordInput" class="form-control" asp-for="OldPassword" placeholder="Current password..." />
    </div>
    }
    else
    {
        <p>Because you are changing someone else's password, you don't need to know their current password.</p>
    }
    <div class="form-group">
        <label for="newPasswordInput">New Password</label>
        <input id="newPasswordInput" class="form-control" asp-for="NewPassword" placeholder="New password..." />
    </div>
    <div class="form-group">
        <label for="repeatPasswordInput">New Password (Repeat)</label>
        <input id="repeatPasswordInput" class="form-control" asp-for="NewPasswordRepeat" placeholder="Repeat the new password..." />
    </div>
    <input class="btn btn-default" type="submit" value="Change" />
    }
    @Html.AntiForgeryToken()
</form>

