@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>
    Contact MCFT
</h1>
<div class="content">
    <p style="margin-bottom: 0cm;">
        This section contains complete and direct contact details providing access to the correct department or<br />
        service at any time. Simply click on the email address for the person you wish to contact or dial the direct line.
    </p>
    <p style="margin-bottom: 0cm;">
        &nbsp;
    </p>
    <p style="margin-bottom: 0cm;">
        Maritime College of Forest Technology
    </p>
    <p style="margin-bottom: 0cm;">
        1350 Regent Street
    </p>
    <p style="margin-bottom: 0cm;">
        Fredericton New Brunswick
    </p>
    <p style="margin-bottom: 0cm;">
        E3C 2G6
    </p>
    <p style="margin-bottom: 0cm;">
        <a href="mailto:info@mcft.ca">info@mcft.ca</a><br />
        <br />
        All questions regarding Recruitment, Applications, Admissions, Information Packages, can be obtained by contacting Adrian Pearson. General Inquiries regarding hours of operation and staff contacts can be obtained by contacting&nbsp;Lori Daniels at Reception (506-458-0199). If you are looking to make a payment, obtain student record or student account balances and financial records please contact&nbsp;Loretta Phillips.
    </p>
    <p style="margin-bottom: 0cm;">
        &nbsp;
    </p>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 300px;">
        <thead>
            <tr>
                <th colspan="2">
                    <h4>
                        Recruitment &amp; Admissions
                    </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="left" colspan="2" style="padding-bottom: 5px;" width="250">
                    <strong>David Flynn</strong>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Toll Free:
                </td>
                <td width="80%">
                    866.619.9900
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Tel:
                </td>
                <td width="80%">
                    506.458.0662
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Fax:
                </td>
                <td width="80%">
                    506.458.0679
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Email:
                </td>
                <td width="80%">
                    dflynn@mcft.ca&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="20%">
                    &nbsp;
                </td>
                <td width="80%">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 300px;">
        <thead>
            <tr>
                <th colspan="2">
                    <h4>
                        Accounts Receivable, Payments and Graduate Records
                    </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="padding-bottom: 5px;" width="250">
                    <strong>Loretta Phillips</strong>
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Tel:
                </td>
                <td width="80%">
                    506.458.0643
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Fax:
                </td>
                <td width="80%">
                    506.458.0679
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Email:
                </td>
                <td width="80%">
                    lphillips@mcft.ca
                </td>
            </tr>
            <tr>
                <td width="20%">
                    &nbsp;
                </td>
                <td width="80%">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 300px;">
        <thead>
            <tr>
                <th colspan="2">
                    <h4>
                        Administration
                    </h4>
                </th>
            </tr>
            <tr>
                <th colspan="2" style="text-align: justify;">
                    Sarah Weatherby
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="20%">
                    Tel:
                </td>
                <td width="80%">
                    506.458.0653
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Fax:
                </td>
                <td width="80%">
                    506.458.0679
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Email:
                </td>
                <td width="80%">
                    weatherbys@mcft.ca
                </td>
            </tr>
            <tr>
                <td width="20%">
                    &nbsp;
                </td>
                <td width="80%">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <br />
        &nbsp;
    </p>
</div>