@page
@model MCFTAcademics.FormulaBuilderModel
@{
    ViewData["Title"] = "Build the Grade Average Formula";
}

<h2>Build the Grade Average Formula</h2>
<p>Please refer to the course as "a" and the credit as "b"</p>
<form method="post">
    <input name="formula" />
</form>