@page
@model MCFTAcademics.GenerateReportModel
@{
    ViewData["Title"] = "GenerateReport";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Program</th>
            <th scope="col">Year</th>
            <th scope="col">Semester</th>
            <th scope="col">Generate Report</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <select class="form-control" name="program" id="selProgram">
                    <option>Wildlife</option>
                    <option>Forestry</option>
                </select>
            </th>
            <td>
                <select class="form-control" name="year" id="selYear">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </td>
            <td>
                <select class="form-control" name="semester" id="selSemester">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </td>
            <td>
                <button type="button" id="generate" class="generate btn btn-primary">Generate Report</button>
            </td>
        </tr>
    </tbody>
</table>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>


@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    @* CSS and JS for datatables *@
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    @* CSS,JS and AJAX for datatable buttons  *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            

        });


        $("body").on("click", ".table .generate", function () {
            if (confirm("Do you want to generate this Report?")) {
                //Get all the attributes you will need to customize the transcript
                var semester = document.getElementById("selSemester").value;
                var program = document.getElementById("selProgram").value;
                var year = document.getElementById("selYear").value;

                //Pass them in the handler method via AJAX that will generate and save our transcript on the server
                $.ajax({
                    type: "GET",
                    url: "/GenerateReport?handler=Ajax&program=" + program + "&semester=" + semester + "&year=" + year,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //Direct link to the transcript generated
                        var len = response.length;
                        var counter = 0;
                        var tableHtml = "<thead><tr><th>StudentId</th><th>First Name</th><th>Last Name</th><th>Course ID</th><th>Course Code</th><th>name</th><th>Grade</th></tr><tbody>";
                        while (counter < len) {
                         tableHtml += " <tr>"
                            tableHtml += " <td>"
                                tableHtml += response[counter]["studentId"];
                            tableHtml += " </td>"
                            tableHtml += " <td>"
                                tableHtml += response[counter]["firstName"];
                            tableHtml += " </td>"
                            tableHtml += " <td>"
                                tableHtml += response[counter]["lastName"];
                            tableHtml += " </td>"
                            tableHtml += " <td>"
                                tableHtml += response[counter]["courseId"];
                            tableHtml += " </td>"
                            tableHtml += " <td>"
                                tableHtml += response[counter]["courseCode"];
                            tableHtml += " </td>"
                            tableHtml += " <td>"
                                tableHtml += response[counter]["name"];
                            tableHtml += " </td>"
                            tableHtml += " <td>"
                                tableHtml += response[counter]["grade"];
                            tableHtml+=" </td>"
                         tableHtml+=" </tr>"
                            counter++;
                        }
                        tableHtml += " </tbody>"
                        document.getElementById('table_id').innerHTML = tableHtml;

                        $('#table_id').DataTable({
                            "paging": true,
                            "ordering": true,
                            "bSort": true,
                            "info": true,
                            "destroy": true,
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    extend: 'csvHtml5',
                                    title: 'Report'
                                },
                                {
                                    extend: 'pdfHtml5',
                                    title: 'Report',
                                    download: 'open'
                                }
                            ]
                        });

                        //var resp = JSON.stringify(response);
                        //console.log(resp);

                        //$("generate").parent().html("<a href=\"../downloadtranscript/" + response + "\">View Report</a>");
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
        });
    </script>

}
