@page
@model MCFTAcademics.GradeByStudentId
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "GradesByStudentId";

}
<script language="javascript">
    $(document).ready(){
        alert("test");
    };
     searchId = function () {
            if ($('studentId').text.equals("")) {
                alert("The text feild is empty");
            }
            alert("The text feild is: " + $('studentId').text);
        };

</script>

<h1>Grade By Student Id</h1>
<br>
<form>
    <label>Please Enter Student ID: </label>
    
    <input id="studentId" />
    <button id="searchById" onclick="searchId()">Search</button>


</form>


