@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- These links will do nothing for now -->
<div class="row">
    <div class="col-md-6">
        <h2>Courses</h2>
        <!-- XXX: Fancier bootstrap versions -->
        <dl>
            <dt><a asp-page="/ViewCourses">View courses</a></dt>
            <dd>View courses you are instructing</dd>
            <dt><a href="#">Manage courses</a></dt>
            <dd>Open management page for courses you are instructing</dd>
            <dt><a asp-page="/ViewAllCourses">View all courses</a></dt>
            <dd>Show a list of all courses</dd>
            <dt><a href="#">Manage all courses</a></dt>
            <dd>Manage all courses</dd>
        </dl>
        @if (User.IsInRole("Admin")) //dummy check
        {
            <h2>Student grades</h2>
            <dl>
                <dt><a href="#">View grades</a></dt>
                <dd>Show grades of students you're instructing</dd>
                <dt><a href="#">View all grades</a></dt>
                <dd>Shows the grades of all students</dd>
                <dt><a href="#">Manage grades</a></dt>
                <dd>Submit student pages</dd>
            </dl>
        }
    </div>
    <div class="col-md-6">
        <h2>Academic reports</h2>
        <dl>
            <dt><a href="ReportGenerate">Generate reports</a></dt>
            <dd>Generate academic reports page</dd>
        </dl>
        @if (User.IsInRole("Admin"))
        {
            <h2>Administrative tasks</h2>
            <dl>
                <dt><a asp-page="/ViewUsers">View users</a></dt>
                <dd>View and manage all users in the system, including changing passwords and role management</dd>
            </dl>
        }
    </div>
</div>
