@page
@model MCFTAcademics.ReportGenerate
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ReportGenerate";
}


<form method="post">
    <input type="submit" value="ReportGenerate" /> 
</form>
<form method="post">
    <input type="submit" value="ReportGenerate" />
</form>