@page
@model MCFTAcademics.ReportGenerate
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ReportGenerate";
}

<p>Login using form below:</p>
<form method="post">
    
    Generate Report!: <input type="submit" value="" /><br /><br />
    <input type="submit" value="ReportGenerate" />
    
</form>