@page
@model MCFTAcademics.ViewAllCoursesModel
@using System.Collections;
@using BL;
@{
    ViewData["Title"] = "ViewAllCourses";
}
@{

    List<Course> courses = Course.GetAllCourses();
}

<h2>MCFT Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Semester</th>
            <th scope="col">Credit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Course c in courses)
        {
            @foreach (CourseCode cc in CourseCode.GetAllCourseCodesById(c.Id))
            {
                <tr>
                    <th scope="row">@cc.Code</th>
                    <td>@c.Name</td>
                    <td>@cc.Semester</td>
                    <td>@c.Credit</td>
                </tr>
            }
        }
    </tbody>
</table>